<ion-view view-title="Login">
    <ion-content class="padding has-header">

        <div class="bar bar-subheader">
            <form ng-submit="login.signin()">
                <div class="list">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email" ng-model="login.email">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-positive" type="submit" ng-click = "showLoading()">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
