<ion-view view-title="Student Records" >


    <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-header ">
                <button class="button icon-left ion-android-exit" ng-click="stateLogOut()">Logout</button>

                <span ng-click="vm.isCreating = true"><i class='icon ion-plus-round new-item'> Add Item</i></span>
            </div>
            <div class="bar bar-subheader">
                <div class="list card" ng-repeat="object in vm.data"
                     ng-class="{'active':vm.isCurrent(object.id)}">
                    <div class="item item-icon-right item-icon-left item-positive">
                        <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>

                        <h2 class="text-center">{{object.fname + ' ' + object.lname}}</h2>
                        <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
                    </div>
                    <!--<div class="item item-body">-->
                        <!--{{object.description}}-->
                    <!--</div>-->
<div class="item item-thumbnail-left">
    <img src="my-image.png">
    <div class="list">
                    <div class="item item-text-wrap ">
                        {{object.index}}
                    </div>
                    <div class="item item-text-wrap ">
                        {{object.email}}
                    </div>
                    <div class="item item-text-wrap ">
                        {{object.description}}
                    </div>
    </div>
</div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isCreating">
        <ion-content class="padding has-header">
            <!-- CREATING -->
            <div class="bar bar-header">
                <h2 class="title">Create Item</h2>
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader">
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">First Name</span>

                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.fname"
                                   placeholder="Enter first name">

                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.lname"
                                   placeholder="Enter Last name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Index</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.index"
                                   placeholder="Enter index number">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.email"
                                   placeholder="Enter email">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                        <textarea placeholder="Comments" class="form-control"
                                  ng-model="vm.newObject.description"
                                  placeholder="Enter description"></textarea>
                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </form>
            </div>
        </ion-content>
    </div>
    <div ng-if="vm.isEditing && !vm.isCreating">
        <ion-content class="padding has-header">
            <!-- EDITING -->
            <div class="bar bar-header bar-secondary">
                <h1 class="title">Editing {{vm.edited.name}}</h1>
                <span ng-click="vm.cancelEditing()" class="cancel-create">Cancel</span>
            </div>
            <div class="bar bar-subheader">
                <form class="edit-form" role="form"
                      ng-submit="vm.update(vm.edited)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">First Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.fname"
                                   placeholder="Enter first name">
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.lname"
                                   placeholder="Enter last name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Index</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.index"
                                   placeholder="Enter index">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.edited.email"
                                   placeholder="Enter email">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                    <textarea class="form-control"
                              ng-model="vm.edited.description"
                              placeholder="Enter description"></textarea>

                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Save</button>
                </form>
            </div>
        </ion-content>
    </div>
</ion-view>

