<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs >
    <ion-tab  hidden="true">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <ion-tab  hidden="true">
        <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>
</ion-tabs>
